# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode9.4


env:
  matrix:
    - CONFIG=osx_python2.7
    - CONFIG=osx_python3.6

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "kuVUDkAs7vhBbdXoVg27++Zb9vIcxJNcJFT+dP0ha7jvVJ+y9Ooo25fQH3QJDY5jwO4Ou31uevjJ24ZlOcIOPOGTKNl+ok7Qnp2l83T8bu1PZ/Q6FAK7lp/+UEBGL6sTuHFh2azGu4BrHrpYA3Oeh989U2lMOuPmL6sUkEIJ+a1qH5BVZcMNt2TjCt5FJYH8rFMfFGQJDjHnvtJstXjluexo1LBG6P1USIC1H18PJHYXKr6gv8Ce2eS7sfinpvsN/YaZEZAP059XKKwDq479botX9EZgqP1Tuq8cx9wmBbEnS1n7GrIbgz26k3lXqIRJfxDMgDZz1+vXSXGCyliEsUwaZX8onC59WqClB02zc3YzeDbST/AaZeMMwtFDtCX7+awZHJOBFabx3qDYqwTZKFA5G2SojkgedBv7uZSxTK9m7E/MSr66I1YXdl4wp3MzQdBvf+JktOQrQtMwnzhqO2liUjeOpTiHaCMapE7OOfo/VE21rHUA7txxcoBBQH7g4U/h4pjUC5H0x4ug/a48g91urA6Nl8MKOaTuqRnFNMHxt673/ZuqwlZ63hkhxf/78WsnyxiE86euYy+xIItaHY30KyyMV+obQts445yPuZR7oy9+wNXLmpgAU/UnDsX+fPU48h4UC2CKiF5UH3lOK0MjZa1LqXqc/e3IQ6qK9bQ="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install -n root -c conda-forge --quiet --yes conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml